.cabecalhoPrincipal-lista {
    display: flex;
}

.botao-git {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }

.botao-item {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
 

