#formacao {
    text-align: center;
    margin: 1em 0 2em 
}

.formacao_inicial {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cabecalhoPrincipal-lista-formacao {
       text-decoration: none;
   }

.formacao-imagem {
    background: center;
    background-size: cover;
    width: 500px;
    height: 250px;
    
}
